html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fff;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 2rem;
  margin: auto;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
}

.form-signin form h1{
    text-align: center;
}

.form-signin form button {
    text-align: center;
}

.form-signin .user_box{
    position: relative;
}

.form-signin .user_box input{
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #2596be;
    outline: none;
    background: transparent;
}

.form-signin .user_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0 ;
    font-size: 16px;
    color: #2596be;
    pointer-events: none;
    transition: .5s;
}

.form-signin .user_box input:focus ~ label,
.form-signin .user_box input:valid ~ label{
    top: -25px;
    left: 0;
    color: #299fca;
    font-size: 16px;
}

.form-signin .text_info {
    text-align: center;
    margin-top: 1rem;
}

.form-signin .text_info p{
    margin: 0;
    padding: 0;
}

.form-signin .text_info :nth-child(2){
    color: #2596be;
    font-size: 20px;
    font-weight: 600;
}